@page "/dashboard"

<PageTitle>Dashboard</PageTitle>

<h3>Dashboard</h3>

<div id="content" class="content">
    <div class="row">
        <div class="col-3">
            <Statistics/>
        </div>
        <div class="col-9">
            <MachineList />
        </div>
    </div>
</div>

@code {

}
